footer {
    font-family: "Syne", sans-serif;

    max-width: 80rem;
    width: 100%;
    padding: 4rem 2rem 2rem;
    margin-inline: auto;

    display: flex;
    align-items: center;
    justify-content: space-between;

    & .logo {
        display: flex;
        gap: 1rem;

        & img {
            width: 2rem;
            transition: rotate 350ms;

            &:hover {
                rotate: 90deg;
            }
        }
    }

    & nav {
        display: flex;
        gap: 2rem;

        & a:hover {
            scale: 1.2;
        }
    }

    & .social {
        display: flex;
        gap: .5rem;

        & a:hover {
            scale: 1.2;
        }
    }
   
    & h2 {
        margin: 0;
    }
    & nav {
        padding: 0;
    }
    
    


}